html, body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Playfair Display', serif;
	overflow-x: hidden;
}
body {
	overflow-y: scroll;
	background: #FFF;
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
}
body>div {
	/*height: 100%;*/
	overflow: scroll;
}
h1.logo-left-pre {
	color: black;
	font-size: 37px;
	overflow: hidden;
	top: 0;
	position: fixed;
	z-index: 25;
	width: 100%;
	text-align: center;
	background-color: white;
	height: 110px;
	padding: 40px 0px;
	margin-top: 0px;
}
h1 a {
	text-decoration: none;
	color: black;
}
.active {
	margin-bottom: 0.7em;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.images img {
	width: 33.33%;
}
img.m1 {
	margin-top: 0.5em;
}
img.m42 {
	margin-top: 4.5em;
}
@media screen and (max-width: 950px) {
	img.m1 {
		margin-top: 0;
	}
	img.m42 {
		margin-top: 0;
	}
}
img.m2 {
	position: relative;
	top: 8em;
	left: 3em;
}
img.m3 {
	margin-top: 10em;
	margin-left: 8em;
}
img.m4 {
	margin-top: 5em;
	margin-left: 8em;
}
.images {
	text-align: center;
	margin-top: 3em;
	padding: 1em 2em 2em 2em!important;
}
img.m2 {
	top: 0;
	left: 0;
}
img.m3 {
	margin: 0;
}
img.m4 {
	margin-top: 5em;
	margin-left: 8em;
}
@media screen and (max-width: 950px) {
	.images img {
		display: inline-block;
		padding-top: 10px;
		padding-bottom: 10px;
		width: 80%;
	}
	.arttext {
		visibility: hidden;
		font-size: 12px;
	}
	.menu ul {
		display: inline-flex;
	}
}
.images {
	text-align: center;
	margin-top: 3em;
	padding: 2em!important;
}
img.m2 {
	top: 0;
	left: 0;
}
img.m3 {
	margin: 0;
}
img.m4 {
	margin-top: 5em;
	margin-left: 8em;
}
}
.images {
	text-align: center;
	padding: 3em;
}
img.hs {
	width: 20%;
}
.staggered_images {
	padding-left: 0px;
}
.staggered_images img {
	width: 75%;
	display: inline-block;
}
##.staggered_images img:nth-child(4n-4) {
	margin: 0%;
}
##.staggered_images img:nth-child(4n-2) {
	margin-bottom: 5%;
	margin-top: -5%;
}
##.staggered_images img:nth-child(4n-1) {
	margin-right: -5%;
}
##.staggered_images img:nth-child(4n+0) {
	margin-right: -5%;
	margin-bottom: 10%;
	margin-top: 10%;
}
##.staggered_images img:nth-child(4n+1) {
	margin-right: 5%;
	margin-bottom: -5%;
	margin-left: 3%;
	margin-top: -5%;
}
##.staggered_images img:nth-child(4n+2) {
	margin-left: -10%;
}
##.staggered_images img:nth-child(4n+3) {
	margin-right: 15%;
}
body>div {
	overflow: initial;
}
div.clr {
	clear: both;
}
.main-nav {
	z-index: 99;
}

html {
	width: 100%;
	height: 100%;
}
body {
	position: relative;
	width: 100%;
	height: 100%;
}
body::before, body::after {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 25vh;
	font-size: 60px;
	color: #000;
}
.maxauthor {
	font-size: 26px;
	font-weight: 600;
	z-index: 1;
	position: relative;
	margin: 10px
}
.arttext {
	font-size: 36px;
	font-weight: 800;
	z-index: 1;
	position: relative;
	margin: 10px;
	margin-top: 10px;
	background-color: #fff;
	padding: 2px;
	text-align: center;
	font-family: 'Helvetica', serif;
	min-height: 70px;
	margin-top: 41px;
	font-family: 'Playfair Display', serif;
}
/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-moz-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fade-in {
	opacity: 0;
	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
}
.fade-in.one {
	-webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
.fade-in.two {
	-webkit-animation-delay: 0.9s;
	-moz-animation-delay: 0.9s;
	animation-delay: 0.9s;
}
.fade-in.three {
	-webkit-animation-delay: 1.2s;
	-moz-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
/* keyframes fadeIn end */

div.clr {
	clear: both;
}

.main-nav {
	z-index: 99;
}


@media all and (max-width:640px) {
	.staggered_images img {
		width: 100%;
		margin: 0% !important;
	}
	#right-nav {
		font-size: 16px;
	}
	#left-nav {
		font-size: 16px;
	}
	h1.logo-left-pre {
		color: black;
		font-size: 25px;
		z-index: 25;
		height: 70px;
	}	
	.social-container {
	display:none;
	}
}
img.m2 {
	margin-top: 10px;
	top: 0;
	left: 0;
	margin-bottom: 0px;
}
.menu ul {
	display: inline-flex;
	margin: 20px 0px 0px 0px;
}
.menu ul li {
	list-style: none;
	padding: 0px 35px;
}
.menu ul li a {
	font-family: 'Helvetica', serif;
	text-decoration: none;
	color: black;
	letter-spacing: 6px;
	font-size: 15px;
	font-weight: 100;
}
.pageanchor {
	position: absolute;
	margin-top: -116px;
}
body>div {
	overflow: initial;
}
@media all and (min-width:716px) {
	.menu {
		margin: 5px 0px 0px 0px;
	}
}
@media all and (max-width:715px) {
	.menu ul {
		display: block;
	}
	.menu ul li {
		list-style: none;
		padding: 10px 5px;
	}
	.showcase-four {
		height: auto!important;
	}
	.shop-showcase {
		height: auto!important;
	}	
	.arttext {
		font-size: 16px;
		font-weight: 800;
		z-index: 1;
		position: relative;
		margin: 4px;
		background-color: #fff;
		padding: 2px;
		text-align: center;
		font-family: 'Helvetica', serif;
		min-height: 40px;
		margin-top: 41px;
	}
}
@media all and (max-width:586px) {
	.for-sale-button p {
		visibility: hidden;
	}
}
@media all and (min-width:587px) {
	.showcase-four img {
		width: 21%;
		display: initial;
	}
	.showcase-four {
		height: auto;
	}
	.shop-showcase img {
		width: 26%;
		display: initial;
	}
	.shop-showcase {
		height: auto;
	}	
}
.showcase-four {
	margin-bottom: 0;
}
.shop-showcase {
	margin-bottom: 0;
}
.intro-text {
	z-index: 1;
	position: relative;
	margin: 10px 10px;
	background-color: #fff;
	padding: 10px 12%;
	text-align: center;
	font-family: 'Helvetica', serif;
	min-height: 74px;
	margin-top: 5px;
	font-family: 'Playfair Display', serif;
	letter-spacing: 2px;
}
.intro-text p {
	margin: 0px;
}
.for-sale-button {
	left: -50px;
	transform: rotate(-90deg);
	position: fixed;
	z-index: 9999;
	color: black;
	top: 40%;
	left: -105px;
}
.for-sale-button p {
	font-family: 'Helvetica', serif;
	text-decoration: none;
	color: black;
	letter-spacing: 6px;
	font-size: 15px;
	font-weight: 100;
}
.for-sale-button p a {
	text-decoration: none;
	color: #000;
}

/* After DirtyMarkup */ 

.social-container img {
    max-width: 27px;
}

.social-container {
    position: fixed;
    z-index: 30;
    font-size: 37px;
    top: 0;
    width: 100%;
    text-align: right;
    height: 110px;
    padding: 40px 50px;
    margin-top: 0px;
}

